@font-face {
    font-family: 'Soria';
    src: url('Soria-Soria.woff2') format('woff2'),
        url('Soria-Soria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

